body{
    background-color: black;
}
*{
    font-family:  "Libre Baskerville", serif;
    font-size: 2rem; 
    color: white;
    text-align: center;
}
#picture{
    border: 5px solid white;
}
#caption {
    font-size: large;
}
div{
    margin-top: 100px;
}